<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/theme.css">
    <style>
      body, html{
        height: 100%;
      }
    </style>
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary mx-2" style="height:15%;">
        <div class="container-fluid">
          <div class="col-sm-2">
            <a class="navbar-brand" href="#"> <img class="logo" src="../static/imgs/Logo.svg"/> </a>
          </div>
          
          <div class="col-sm-8 d-flex justify-content-center align-items-center text-center">
            <div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse text-center" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link px-4 text-dark" href="#"><h6 class="m-0 fw-bold">Quem Somos</h6></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link px-4 text-dark" href="#"><h6 class="m-0 fw-bold">Suporte</h6></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link px-4 text-dark" href="#"><h6 class="m-0 fw-bold">Contato</h6></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-2 d-flex justify-content-end">
            <a type="button" class="btn text-black bg-verde-claro m-0 w-auto" href="./telaLogin.html"><h6 class="m-0 px-2 fw-bold">Fazer Login</h6></a>
          </div>
        </div>
    </nav>

    
    <main class="bg-azul-escuro w-100 d-flex flex-column justify-content-start align-items-center p-5" style="height: 85%">
      <div class="row w-100 d-flex flex-row justify-content-center align-items-start">

        <div class="col-sm-4 text-white d-flex flex-column mx-3">
          <h3 class="mb-0 text-center fw-bold"> Ajude a Natureza & Receba Recompensas </h3>
          <hr class="border border-white border-3 opacity-50 w-100">
          <h6 class="mb-4"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi finibus, ex vel pulvinar venenatis, purus lorem lacinia felis, ac auctor enim massa vitae dui. Sed velit est, varius nec est nec, pretium bibendum erat. Aenean sit amet posuere mauris, nec sollicitudin ipsum. Integer id nisi eu metus congue vehicula. Praesent accumsan nulla vel ornare ullamcorper. Vestibulum mauris magna, gravida et velit id, vulputate elementum nibh. Aenean ultrices dui non lobortis condimentum. Aliquam sit amet leo convallis tellus pellentesque euismod. Suspendisse vulputate orci nec metus consequat, non dignissim diam finibus. In id tellus risus.  </h6>
          <a type="button" class="btn text-black bg-verde-claro mb-3 w-auto align-self-end" href="./telaLogin.html"><h6 class="m-0 px-3 py-1 fw-bold">Fazer Login</h6></a>
        </div>


        <div class="col-sm-6 text-white d-flex flex-column mx-3">
          <h3 class="mb-0 text-center fw-bold"> Cadastre-se no programa! </h3>
          <hr class="border border-white border-3 opacity-50 w-100">

          <h5 class="mb-3 fw-bold"> Quero ser um Usuário </h5>
          <h6 class="mb-4 ms-5">Cadastre-se e desfrute de descontos nas suas lojas favoritas. Descarte eletrônicos nas lojas parceiras e receba pontos, podendo trocá-los por descontos.</h6>
          <a type="button" class="btn text-black bg-azul-claro mb-3 w-auto align-self-end" href="./cadastroUsuario.html"><h6 class="m-0 px-3 py-1 fw-bold">Cadastre-se como Usuário </h6></a>
          <hr>
          <h5 class="mb-3 fw-bold"> Quero cadastrar minha loja </h5>
          <h6 class="mb-4 ms-5">Junte-se a nós para ajudar a causa sustentável. Torne seu estabelecimento em um ponto de coleta e receba benefícios fiscais.</h6>
          <a type="button" class="btn text-black bg-azul-claro mb-3 w-auto align-self-end" href="./cadastroLoja.html"><h6 class="m-0 px-3 py-1 fw-bold">Cadastre-se como Estabelecimento </h6></a>
        </div>

        
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>