<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Loja</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/theme.css">
    <style>
        /* Estilização específica */
        body {
            height: 100vh;
            margin: 0 auto;
        }

        html {
            display: flex;
        }

        .container {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); /* Efeito de sombreamento */
        }
    </style>

</head>
<body class="w-75 bg-azul-escuro d-flex  flex-row justify-content-center align-items-center">
    <div class="container bg-white w-75 p-4 d-flex flex-column justify-content-between">

        <div class="d-flex flex-row justify-content-between align-items-center">
            <div class="d-flex align-items-center justify-content-start">
                <a type="button" class="btn btn-dark mx-0" style="font-size: 1.5rem; height: 100%;" title="Voltar" href="#"> &crarr; </a>
                <img class="mx-3 logo" src="../static/imgs/Logo.svg">
            </div>
            <h2 class="fw-bold">Criar Conta de Loja</h2>
        </div>

        <hr class="border border-dark border-2 opacity-75 w-100">

        <form class="row">
            <div class="col-md-6 d-flex flex-column justify-content-start">
                <!-- Canto esquerdo -->
                <div class="d-flex align-items-center">
                    <h6 class="fw-bold w-25 mx-1">Nome</h6>
                    <input type="text" class="form-control mb-2 mx-2" placeholder="Nome da Loja">
                </div>

                <div class="d-flex align-items-center"> 
                    <h6 class="fw-bold w-25 mx-1">CNPJ</h6>
                    <input type="text" class="form-control mb-2 mx-2" placeholder="CNPJ">
                </div>

                <div class="d-flex align-items-center">
                    <h6 class="fw-bold w-25 mx-1">CEP</h6>
                    <input type="text" class="form-control mb-2 mx-2" placeholder="CEP">
                </div>
                
                <div class="d-flex align-items-center">
                    <h6 class="fw-bold w-25 mx-1">Rua</h6>
                    <input type="text" class="form-control mb-2 mx-2" placeholder="Rua">
                </div>

                <div class="d-flex align-items-center">
                    <h6 class="fw-bold w-25 mx-1">Numero</h6>
                    <input type="text" class="form-control mb-2 mx-2" placeholder="Numero">
                </div>

                <div class="d-flex align-items-center">
                    <h6 class="fw-bold w-25 mx-1">Bairro</h6>
                    <input type="text" class=" form-control mb-2 mx-2" placeholder="Bairro">
                </div>

                <div class="d-flex align-items-center">
                    <h6 class="fw-bold w-25 mx-1">Celular</h6>
                    <input type="tel" class="form-control mb-2 mx-2" placeholder="Telefone">
                </div>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-between">
                <!-- Canto direito -->
                <div class="d-flex flex-column justify-content-start">
                    <div class="d-flex align-items-center justify-content-center mb-2">
                        <img class="fotoPerfil rounded-circle bg-secondary m-1" style="width: 80px; height: 80px;"> </img>
                        <input id="inputPFP" type="file" accept="image/jpg, image/png">
                        <input type="button" class="btn bg-azul-escuro text-white py-1 px-3 mx-2" value="Escolher foto de perfil" onclick="document.getElementById('inputPFP').click()">
                    </div>
                    
                    <div class="d-flex align-items-center">
                        <h6 class="fw-bold w-25 mx-1">E-Mail</h6>
                        <input type="email" class="form-control mb-2 mx-2" placeholder="E-Mail">
                    </div>
                    
                    <div class="d-flex align-items-center">
                        <h6 class="fw-bold w-25 mx-1">Senha</h6>
                        <input type="password" class="form-control mb-3 mx-2" placeholder="Senha">
                    </div>
                    
                    <div class="d-flex align-items-center">
                        <h6 class="fw-bold w-25 mx-1">Confirmar Senha</h6>
                        <input type="password" class="form-control mb-2 mx-2" placeholder="Confirmar Senha">
                    </div>
                </div>

                <a type="submit" class="btn bg-verde-claro align-self-end mb-2 mx-2 w-75 fw-bold">Concluir Cadastro</a>
            </div>

            
        </form>
    </div>
</body>
</html>
