<!DOCTYPE html>
<html lang="pt-be">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/theme.css" />
    <style>
      body,
      html {
        height: 100%;
      }
    </style>
    <title>Home</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary mx-2" style="height: 10%">
      <div class="container-fluid">
        <div class="col-sm-2">
          <a class="navbar-brand" href="./telaHome.html"><img class="logo" src="../static/imgs/Logo.svg" /></a>
        </div>

        <div class="col-sm-8 d-flex justify-content-center align-items-center text-center">
          <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link px-4 text-dark" href="#"><h6 class="m-0 fw-bold">Quem Somos</h6></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-4 text-dark" href="#"><h6 class="m-0 fw-bold">Suporte</h6></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-4 text-dark" href="#"><h6 class="m-0 fw-bold">Contato</h6></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-2 d-flex justify-content-end">
          <a type="button" class="botao btn text-black bg-verde-claro m-0 w-100"><h6 class="m-0 px-2 fw-bold" data-url="../template/telaLogin.html">Fazer Login</h6></a>
        </div>
      </div>
    </nav>

    <main class="bg-azul-escuro w-100 d-flex flex-column justify-content-center align-items-center p-5" style="height: 90%">
      <div class="row w-100 d-flex flex-row justify-content-center align-items-start">
        <div class="col-sm-4 text-white d-flex flex-column mx-3">
          <h3 class="mb-0 text-center fw-bold">Ajude a Natureza & Receba Recompensas 🌱🔌</h3>
          <hr class="border border-white border-3 opacity-50 w-100" />
          <h6 class="mb-4">
            <h5>Faça a diferença no mundo enquanto se recompensa!</h5>

            <p>
              <strong>TechRecycle:</strong> Transforme Resíduos em Recompensas Sustentáveis! 🌱🔌 Junte-se ao movimento verde do <strong>TechRecycle</strong>! Localize pontos de coleta, entregue resíduos eletrônicos e ganhe pontos para trocar por
              recompensas exclusivas em lojas parceiras. Além de contribuir para um planeta mais limpo, você desfruta de gadgets e produtos incríveis. Sua escolha, seu impacto! 💚🌍🔋 #TechRecycle #Sustentabilidade #FaçaADiferença
            </p>
          </h6>
          <a type="button" id="btnLogin-02" class="botao btn text-black bg-verde-claro mt-3 w-50 align-self-end"><h6 class="m-0 px-3 py-1 fw-bold" data-url="../template/telaLogin.html">Fazer Login</h6></a>
        </div>

        <div class="col-sm-6 text-white d-flex flex-column mx-3">
          <h3 class="mb-0 text-center fw-bold">Cadastre-se no programa!</h3>
          <hr class="border border-white border-3 opacity-50 w-100" />

          <h5 class="mb-3 fw-bold">Quero ser um Usuário</h5>
          <h6 class="mb-4 ms-5">Cadastre-se e desfrute de descontos nas suas lojas favoritas. Descarte eletrônicos nas lojas parceiras e receba pontos, podendo trocá-los por descontos.</h6>
          <a type="button" id="btnCadastroUsuario" class="botao btn text-black bg-azul-claro mb-3 w-50 align-self-end"><h6 class="m-0 px-3 py-1 fw-bold" data-url="../template/cadastroUsuario.html">Cadastre-se como Usuário</h6></a>
          <hr />
          <h5 class="mb-3 fw-bold">Quero cadastrar minha loja</h5>
          <h6 class="mb-4 ms-5">Junte-se a nós para ajudar a causa sustentável. Torne seu estabelecimento em um ponto de coleta e receba benefícios fiscais.</h6>
          <a type="button" id="btnCadastroEstabelecimento" class="botao btn text-black bg-azul-claro mb-5 w-75 align-self-end"><h6 class="m-0 px-3 py-1 fw-bold" data-url="../template/cadastroLoja.html">Cadastre-se como Estabelecimento</h6></a>
        </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script type="module" src="../static/js/RedirecionarPagina.js"></script>
  </body>
</html>
